
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>Sitio contruido por @Context.User.Identity!.Name. <a href="https://github.com/TallerDeLenguajes1/tl2-tp5-2022-gudiino.git">Clik aquí para ir al Repositorio</a>.</p>
</div>
