
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p><a href="https://github.com/TallerDeLenguajes1/tl2-tp5-2022-gudiino.git">Sitio contruido por @ViewBag.nombre</a>.</p>
</div>
