
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLoginIndex.cshtml";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="flex-grow-1 ul-menu">
            <li class="li-menu">
                <a class="a-link" asp-area="" asp-controller="Cadetes" asp-action="Index">Cadetes</a>
            </li>
            <li class="li-menu">
                <a class="a-link" asp-area="" asp-controller="Pedidos" asp-action="Index">Pedidos</a>
            </li>
            <li class="li-menu">
                <a class="a-link" asp-area="" asp-controller="Pedidos" asp-action="BuscarPd2XCdt">Pedidos por Cadete</a>
            </li>
            <li class="li-menu">
                <a class="a-link" asp-area="" asp-controller="Pedidos" asp-action="BuscarPd2XCli">Pedidos por Cliente</a>
            </li>
            <li class="li-menu">
                <a class="a-link" asp-area="" asp-controller="Pedidos" asp-action="CbioEstadoPd2">Cambiar Estado Pedido</a>
            </li>
            <li class="li-menu">
                <a class="a-link" asp-area="" asp-controller="Cadeteria" asp-action="Index">Informe Liquidación</a>
            </li>
            <li class="li-menu">
                <a class="a-link" asp-area="" asp-controller="Usuarios" asp-action="Logout">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</div>